.LeftSideBar {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2b2c30;
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LeftSideBar h5 {
  color: #6f7073;
  text-align: center;
  font-size: 10px;
  margin-top: 7px;
}

.silvericon {
  color: #6f7073;
  font-size: 22px;
  margin-bottom: 18px;
  padding: 7px;
}

.silvericon:hover{
  color: #fac921;
}

.share {
  font-size: 22px;
  color: whitesmoke;
}

.sharebox {
  background-color: #fac921 !important;
  height: 80px !important;
  display: grid !important;
  place-items: center !important;
}

.links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ham {
  color: #fac921;
  font-size: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border: none !important;
  outline: none !important;
  background-color: #2b2c30;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.logo {
  height: 35px;
  margin: 30px 0 40px 0;
}

.dp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  height: 5rem;
  border-left: 0.5px solid #fac921;
  margin-left: 40px;
  display: flex;
  margin-top: 10rem;
}

.menu {
  letter-spacing: 2.5px;
}

#tooltip-right > .tooltip-inner {
  background-color: #fac921;
  color: whitesmoke;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1.25px;
}

.tooltip [class$="arrow"] {
  visibility: hidden;
}

