.LeftSideBar {
    z-index: 1;
  position: fixed;
  background-color: #2b2c30;
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LeftSideBar h5 {
  color: #6f7073;
  text-align: center;
  font-size: 10px;
  margin-top: 7px;
}

.silvericon {
  color: #6f7073;
  font-size: 13px;
  margin-bottom: 18px;
  border: 1px solid lightgray;
  padding: 7px;
}
.silvericon:hover {
  border-radius: 50%;
}

.share {
  font-size: 22px;
  color: white;
}

.sharebox {
  background-color: #fac921;
  height: 80px;
  display: grid;
  place-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.ham {
  color: #fac921;
  font-size: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.logo {
  height: 28px;
  margin: 30px 0 40px 0;
}

.dp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  position: absolute;
  left: 40px;
  top: 20rem;
  height: 5rem;
  border-left: 0.5px solid orange;
}



