.Download{
    background-color: #fac921;
  padding: 15px 30px;
  outline: none;
  border: none;
  font-size: 10px;
  border-radius: 7px;
  box-shadow: -1px 4px 10px -6px rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  width: 150px;
  margin-top: 50px;
  text-decoration: none !important;
}

.Download:hover{
    color: white;
}

.About{
    margin-top: 100px;
    display: flex;
    padding-left: 80px;
}

.Aboutleft{
    padding-left: 80px;
    width: 600px;
}

.Aboutright{
    width: 750px;
}