.Download{
    background-color: #fac921;
  padding: 15px 30px;
  outline: none;
  border: none;
  font-size: 10px;
  border-radius: 7px;
  box-shadow: -1px 4px 10px -6px rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  width: 150px;
  margin-top: 50px;
  text-decoration: none !important;
}

.Download:hover{
    color: white;
}

.About{
    margin-top: 80px;
    display: flex;
    padding-left: 80px;
}

.Aboutleft{
    padding-left: 80px;
    width: 600px;
}

.Aboutright{
    width: 750px;
}

.parent{
display: flex;
}

.subdiv{
    margin-top: 30px;
    margin-right: 30px;
}

.subdiv-content{
    font-weight: 600;
    color: #a4a8b6;
    line-height: 25px;
    font-size: 12px;

}

.subdiv-title{
    color: #a4a8b6;
    font-weight: 700;
    font-size: 18px;
}

.Detail{
    color: #a4a8b6;
    font-weight: 600;
    font-size: 12px;
}