.Fact {
  height: calc(100vh);
  padding-left: 80px !important;
  padding-top: 10px;
  background-color: #2a2a2e;
}

.Verticaltext {
  position: relative;
  left: -42rem;
  top: -15rem;
  font-size: 84px;
  transform: rotate(-90deg);
  letter-spacing: 2px;
  font-weight: 900;
  color: #414145;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Factheading {
  letter-spacing: 1px;
  font-weight: 900 !important;
  color: whitesmoke;
  font-size: 40px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -2px;
  padding-left: 140px;
}

.Facthighlight {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  color: #fac921;
}

.Factdetail {
  color: whitesmoke;
  font-weight: 500;
  width: 50%;
  margin-left: 140px;
  margin-top: 30px;
}

.stats {
  display: flex;
  margin-left: 150px;
  color: whitesmoke;
}

.Numbers {
  font-size: 44px;
  font-weight: 900;
  color: whitesmoke;
 
}
.statdiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3.5rem 11rem 0 0;
}
 
.statsdetail {
  color: whitesmoke;
  padding: 12px 30px;
  background-color: rgba(192, 192, 192, 0.25);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 10px;
  width: fit-content;
}

