.Skills {
  height: calc(150vh - 80px);
  padding-left: 80px !important;
  padding-top: 20px;
  background-color: whitesmoke;
}

.details--customize {
  display: none !important;
}

.customize {
margin-left: 20px;
}

.donutchart {
  display: flex;
  margin-left: 38rem;
  margin-top: 10px;
  position: relative;
  top: -180px;
  z-index: 4;
}

.spacing{
  margin-left: 60px;
}

.Smain {
  z-index: 2;
  position: relative;
  top: -95px;
  left: 100px;
}

.Sdetail {
  width: 25%;
  font-size: 13px;
  margin-top: 20px;
  font-weight: 600;
}


.Sheading {
  font-size: 24px;
  font-weight: 900 !important;
  font-family: sans-serif;
}

.hskills{
  color: #fac921;
  font-size: 24px;
  font-weight: 900 !important;
  font-family: sans-serif;
}

.Secondheading{
  font-size: 24px;
  font-weight: 900 !important;
  font-family: sans-serif;
}

.Secondmain{
  z-index: 2;
  position: relative;
  top: -100px;
  left: 280px;
}

.progress{
  width: 40% !important;
  margin-top: 15px;
  color: #fac921;
  position: relative;
  top: -14rem;
  left: 50rem;
}

.Planguage{
  position: relative;
  left: 50rem;
  top: -13rem;
  font-size: 14px;
  font-weight: 600;
}

.percent1{
margin-left: 34.5rem;
}

.percent2{
margin-left: 33.5rem;
}

.percent3{
margin-left: 32rem;
}

.percent4{
margin-left: 33rem;
}

.percent5{
margin-left: 33.25rem;
}

.donutchart1 {
  display: flex;
  margin-left: 33rem;
  margin-top: 10px;
  position: relative;
  top: -180px;
  z-index: 4;
}

.line1 {
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  margin-right: 20px;
  border-left: 3.5px solid #fac921;
}

.tags{
text-align: center;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
font-weight: 600;
letter-spacing: 1.5px;
}